/**
 * Created by rafaelguerreroclemente
 */

@import "_header.scss";
@import "_button.scss";
@import "_folders.scss";

body {
  display: block;
  width: 100%;
  margin:0px;
  padding:0px;
}

.loading {
  #mainWrapper, #buttons {
    display: none;
  }
}

#mainWrapper {
  margin-top:50px
}