/**
 * Created by rafaelguerreroclemente
 */

.folder {
  width: 24%;
  float: left;
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: 7%;
}

.folder__icon {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  border: 1px solid black;
  border-radius: 4px;
  background-color: green;

  .subfolders & {
    background-color: red;
  }
}

.folder__label {
  color: #BBB;
}