/**
 * Created by rafaelguerreroclemente
 */

#header {
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 20px;
  text-align: center;
  background-color: #BBB;
  font-size: 1.5em;
  border-bottom: 1px solid black;
}